@model Movie_Directory_with_ASP.NET_Core_MVC.Models.Movies

<h2>Add New Movie</h2>

<form asp-action="Create" method="post">
    <div class="mb-3">
        <label asp-for="Title" class="form-label"></label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Genre" class="form-label"></label>
        <input asp-for="Genre" class="form-control" />
        <span asp-validation-for="Genre" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Year" class="form-label"></label>
        <input asp-for="Year" class="form-control" type="text" placeholder="Year" />
        <span asp-validation-for="Year" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Rating" class="form-label"></label>
        <input asp-for="Rating" class="form-control" />
        <span asp-validation-for="Rating" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Description" class="form-label"></label>
        <textarea asp-for="Description" class="form-control"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-success">Save</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
